@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap");
// Start typography
html {
  overflow-x: hidden;
}
body {
  background-color: #fff;
  margin: 0px auto;
  padding: 0px;
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Overpass", sans-serif;
  color: #233d63;
  font-style: normal;
  text-decoration: none;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
b,
address,
strong {
  margin: 0;
  padding: 0;
}
a,
button,
input[type="submit"] {
  cursor: pointer;
}
h1 {
  font-size: 60px;
  font-weight: 900;
  line-height: 1.2;
}
h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.7px;
}
h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: -0.4px;
}
h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: normal;
}
h5 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
  letter-spacing: normal;
}
h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.44;
  letter-spacing: normal;
}
p {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.75;
}
::placeholder,
textarea,
input[type="text"],
input[type="email"] {
  font-size: 16px;
  font-family: "Overpass", sans-serif;
  color: rgba(35, 61, 99, 0.65);
  text-decoration: 0;
  font-style: normal;
  font-weight: normal;
  line-height: 1.75;
  background-color: #fff;
}
input[type="text"],
input[type="email"],
textarea {
  &:focus {
    outline: none;
  }
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
a {
  white-space: normal;
  font-size: 16px;
  color: #30496d;
  font-weight: 700;
  line-height: normal;
  letter-spacing: normal;
  text-decoration: none;
}
// a:hover {
//   color: #505255;
// }
button,
input[type="submit"] {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  background: #6315ff;
  line-height: 1.75;
  padding: 15px 39px;
  border: 1px solid;
  text-align: center;
  transition: all 0.2s ease-in;
  border: 1px solid #6315ff;
  &:hover {
    background: #fff;
    color: #6315ff;
  }
}
.button-2 button {
  background: #fff;
  color: #6315ff;
}
.button-2 button:hover {
  background: #6315ff;
  color: #fff;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
// end typography
// start header
header {
  border-bottom: 2px solid #cecece;
 
  .left-col {
    img {
      max-width: 170px;
    }
  }
  .right-col {
    ul {
      display: flex;
      float: right;
      flex-direction: row-reverse;
      align-items: center;
      button {
        margin-left: 10px;
        padding: 11px 20px;
      }
      li {
        margin: 0 10px;
        a {
          padding: 24px 10px;
          display: inline-block;
          position: relative;
          &:hover{
            padding: 24px 10px 22px;
            border-bottom: 2px solid #233d63;
          }
          // &::after{
          //   display: none;
          //   position: absolute;
          //   content: '';
          //   left: 50%;
          //   bottom: 0;
          //   width: 50px;
          //   height: 2px;
          //   background-color: #233d63;
          //   transform: translateX(-50%);
          //   transition: all .3s cubic-bezier(0.62,0.4,0.74,1.04);
          //  &:hover{
          //  display: block;
          //  }
          // }
        }
        img {
          width: 22px;
        }
        .dropdown {
          display: relative;
          display: inline-block;
          z-index: 1;
            &:hover .dropdown-content{
              display: block;
            }
            #size{
              min-width: 100px;
            }
          .dropdown-content {
            display:none;
            z-index: 1;
            margin-left: -15px;
            position: absolute;
            background: #fff;
            min-width: 200px;
            box-shadow: 0px 0px 1px #000;
            padding: 0;
            transition-duration: 10s;
            &:hover{
              display: block;
            }
            a {
              display: block;
              text-align: left;
              padding: 12px 16px;
              float: none;
            }
          }
        }
      }
    }
  }
}
// end header
// .banner-section start
.banner-section {
  padding: 125px 0 107px;
  .para-cont {
    margin: 20px 0 16px;
    a {
      color: #233d63;
      font-weight: 400;
    }
  }
  .button-cont {
    display: flex;
    .button-2 {
      margin-left: 30px;
    }
  }
}
// .banner-section end
// section-1 start
.section-1 {
  position: relative;
  z-index: 1;
  padding-bottom: 30px;
  &::before{
    position: absolute;
    z-index: -1;
    content: '';
    background: url("./picture/Circular\ grp\ vector\ 1.svg") no-repeat left top;
    width: 100%;
    height: 100%;
    left: -57px;
    top: 74px;
  }
  .heading-cont {
    margin: 36px 0 8px;
  }
  .total-cont {
    padding-bottom: 60px;
  }
  .col-1,
  .col-2,
  .col-3 {
    border-radius: 4px;
    border: solid 1px #cecece;
    background-color: #fff;
    transition: all ease-in-out 0.2s;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    &:hover {
      box-shadow: 0 4px 32px 0 rgb(0 0 0 / 25%);
      border: solid 0.5px #e2e2e2;
    }
  }
  .card {
    padding: 46px 45px 89px;
    .heading-cont {
      margin: 58px 0 25px;
    }
    .para-cont {
      margin: 0 auto;
      max-width: 273px;
    }
    .button-cont {
      margin-top: 21px;
      a {
        position: relative;
        z-index: 1;
        color: #6315ff;
        &::after {
          position: absolute;
          z-index: -1;
          content: "";
          background: url("./picture/Vector.svg") no-repeat right;
          width: 100%;
          height: 100%;
          right: -25px;
          top: -1px;
        }
      }
    }
  }
}
// section-1 end
// typography start
.section-2,
.section-3,
.section-7 {
  padding: 44px 0 68px;
  .heading-cont {
    margin: 39px 0 10px;
  }
  .para-2 {
    margin: 50px 0;
  }
}
// typography end
// section-4 start
.section-4 {
  padding-top: 154px;
  .text-cont {
    padding-bottom: 56px;
    .h2-cont {
      margin: 36px auto 31px;
      max-width: 650px;
      h2 {
        padding-bottom: 2px;
        span {
          border-bottom: 6px solid #233d63;
          font-weight: bold;
        }
      }
    }
  }
  .row-cont {
    padding-bottom: 93px;
  }
  .col-cont {
    margin-bottom: 45px;
    .para-cont {
      margin: 8px 0 16px;
    }
  }
}
// section-4 end
// section-5 start
.section-5 {
  padding: 70px 0 98px;
  position: relative;
  z-index: 1;
  &::before{
    position: absolute;
    z-index: -1;
    content: '';
    background: url('./picture/Circular\ grp\ vector\ 1.svg') no-repeat left top;
    left: -56px;
    top: 72px;
    width: 100%;
    height: 100%;
  }
  .total-cont {
    padding-bottom: 56px;
    .image-cont {
      padding-bottom: 33px;
    }
    .heading-cont {
      max-width: 650px;
      margin: 36px auto 31px;
    }
  }
  .pricing-box {
    background: #fbfbfb;
    border-radius: 4px;
    border: solid 1px #cecece;
    padding: 29px 0px 50px;
    &:hover {
      box-shadow: 0 4px 32px 0 rgb(0 0 0 / 25%);
      background-color: #fff;
    }
    .h5-cont {
      margin-bottom: 8px;
    }
    .h3-cont {
      margin: 12px 0 40px;
      padding: 20px 0 5px;
      background-color: rgba(213, 224, 253, 0.55);
      h3 {
        font-size: 62px;
        font-weight: 600;
        line-height: 1.23;
        letter-spacing: -1.88px;
        span {
          font-size: 16px;
          font-weight: normal;
          line-height: 1.63;
          letter-spacing: 0.3px;
        }
      }
    }
    .details {
      ul {
        margin: 20px 0;
        li {
          margin: 0;
          padding: 0;
          font-size: 20px;
          font-weight: normal;
          line-height: 1.5;
          letter-spacing: normal;
          padding-bottom: 9px;
          color: #233d63;
        }
      }
    }
    .cta-cont {
      margin: 34px 0 30px;
    }
    .h6-cont {
      max-width: 227px;
      margin: 0 auto;
      h6 {
        font-size: 12px;
        font-weight: normal;
        line-height: 1.5;
        letter-spacing: 0.22px;
      }
    }
  }
}
// section-5 end
// counter-section start
.counter-section {
  padding: 25px 0 30px;
  position: relative;
  z-index: 1;
  &::before{
    position: absolute;
    z-index: -2;
    content: '';
    background: url('./picture/Circular\ grp\ vector\ 1.svg') no-repeat right bottom;
    right: -56px;
    bottom: -15px;
    width: 100%;
    height: 100%;
  }
  .item {
    padding: 38px 20px 28px;
    margin-bottom: 35px;
    white-space: normal;
    border-radius: 4px;
    border: solid 1px #cecece;
    background-color: #fff;
    .text {
      margin: 8px 0;
    }
  }
}
// .counter-section end
// .section-6 start
.section-6 {
  padding: 85px 0 108px;
  position: relative;
  z-index: 1;
  &::before{
    position: absolute;
    z-index: -1;
    content: '';
    background: url('./picture/Circular\ Vector.svg') no-repeat left bottom;
    left: -178px;
    bottom: 52px;
    width: 100%;
    height: 100%;
  }
  .heading-cont {
    max-width: 568px;
    margin: 17px 0 60px;
  }
  .button-cont {
    display: flex;
    position: relative;
    .prev {
      padding: 15px;
      border-radius: 0;
      position: absolute;
      z-index: 2;
      top: -90px;
      right: 50px;
      img {
        width: 15px;
      }
      &:hover {
        background-color: #6315ff;
      }
    }
    .next {
      position: absolute;
      z-index: 2;
      padding: 15px;
      top: -90px;
      right: 0px;
      border-radius: 0;
      background-color: #fff;
      border: 1px solid #ececec;
      img {
        width: 15px;
      }
    }
  }
  .slider {
    ul {
      margin-top: 20px;
      li {
        display: inline-flex;
        margin-right: 9px;
        margin-left: 0;
        button {
          font-size: 0;
          line-height: 0;
          display: flex;
          width: 15px;
          height: 15px;
          padding: 5px;
          cursor: pointer;
          color: transparent;
          outline: 0;
          background: transparent;
          border-radius: 100%;
          border: solid 1px #6315ff;
          &:focus {
            background-color: #6315ff;
          }
        }
      }
    }
  }
  .col {
    border-radius: 4px;
    border: solid 1px #cecece;
    background-color: #fff;
    padding: 2px 35px 25px 36px;
    box-sizing: border-box;

    .image-cont {
      margin: 20px 0;
      img {
        width: 25px;
        margin: 0 5px;
      }
      .start {
        margin-left: 0;
      }
      .end {
        margin-right: 0;
      }
    }
    .para-cont {
      margin: 50px 0 65px;
    }
    .last-cont {
      display: flex;
      align-items: center;
      .text-cont {
        padding-left: 10px;
        .h6-cont {
          margin-top: 8px;
        }
      }
    }
  }
}
// section-6 end
// .section-7 start
.section-7 {
  .para-cont {
    margin-bottom: 50px;
  }
  .button-cont.span12 {
    margin-left: 0;
  }
}
// section-7 end
// section-8 start
.section-8 {
  padding: 74px 0 34px;
  position: relative;
  z-index: 1;
  &::before{
    position: absolute;
    z-index: -1;
    content: '';
    background: url('./picture/Square\ Vector.svg') no-repeat right top;
    right: -133px;
    top: 219px;
    width: 100%;
    height: 100%;
  }
  .total-cont {
    max-width: 650px;
    margin: 0 auto 31px;
    .h2-cont {
      padding-bottom: 2px;
      margin: 36px 0 8px;
    }
  }
  .client-logo {
    padding: 40px 0;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      li {
        border-radius: 4px;
        border: solid 1px #cecece;
        background-color: #fff;
        min-width: 170px;
        min-height: 125px;
        max-height: 125px;
        padding: 10px 20px;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          max-width: 100px;
          max-height: 80px;
        }
      }
    }
  }
}
// section-8 end
// section-9 start
.section-9 {
  padding: 65px 0 237px;
  .heading-cont {
    margin: 53px 0 50px;
  }
  form {
    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      height: 58px;
      padding: 6px;
      display: inline-block;
      box-sizing: border-box;
      border: 0;
      border-bottom: 1px solid #cecece;
      border-radius: 0px;
      margin-bottom: 15px;
    }
    textarea {
      padding: 9px 10px;
      resize: none;
      height: 122px;
    }
    input[type="submit"] {
      margin-top: 60px;
    }
  }
}
// section-9 end
// section-10 start
.section-10 {
  background: rgba(213, 224, 253, 0.35);
  padding: 121px 0 84px;
  position: relative;
  z-index: 1;
  &::before{
    position: absolute;
    z-index: -1;
    content: '';
    background: url('./picture/Square\ Vector.svg') no-repeat right top;
    right: -131px;
    top: -85px;
    width: 100%;
    height: 100%;
  }
  .total-cont {
    max-width: 650px;
    margin: 0 auto 31px;
    .para-cont {
      margin: 10px 0;
    }
  }
  form {
    max-width: 610px;
    margin: 35px auto 18px;
    .form-border {
      display: block;
      position: relative;
      input[type="email"] {
        width: 100%;
        border-radius: 4px;
        border: solid 1px #cecece;
        background-color: #fff;
        color: rgba(35, 61, 99, 0.5);
        font-weight: 400;
        padding: 0 20px;
        min-height: 80px;
        padding-right: 45%;
      }
      label {
        display: block;
        float: none;
        width: auto;
        padding: 0;
        line-height: 18px;
        text-align: left;
        white-space: normal;
        font-weight: normal;
      }
    }
    input[type="submit"] {
      min-width: 34%;
      position: absolute;
      top: 11px;
      right: 10px;
    }
  }
}
// section-10 end
// footer start
footer {
  background: #1c233d;
  padding: 118px 0 20px;
  a,
  h3,
  p {
    color: #fff;
  }
  .top-cont {
    .left-col {
      .para-cont {
        margin: 8px 0 16px;
      }
    }
    .right-col {
      ul {
        display: flex;
        float: right;
        li {
          padding: 0 12px;
        }
        .start {
          padding-left: 0;
        }
        .end {
          padding-right: 0;
        }
      }
    }
  }
  .bottom-cont {
    padding: 55px 0 10px;
    .image-cont {
      display: flex;
      float: right;
      justify-content: center;
      align-items: center;
      img {
        margin: 0 5px;
      }
    }
  }
}
// footer end
@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 50px;
  }
  h3 {
    font-size: 22px;
  }
  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }
  a {
    font-size: 14px;
  }
  button {
    font-size: 14px;
    padding: 15px 20px;
  }
  // header start
  header {
    .wrapper {
      max-width: 1200px;
      padding: 0 40px;
      margin: auto;
    }
    .right-col {
      ul {
        button {
          padding: 6px 9px;
        }
        li {
          margin: 0 2px;
          a {
            padding: 15px 6px;
            &:hover{
              padding: 15px 6px 13px;
            }
          }
          img {
            width: 20px;
          }
          .dropdown {
              #size{
                min-width: 80px;
              }
            .dropdown-content {
              margin-left: -10px;
              min-width: 150px;
            }
          }
        }
      }
    }
  }
  // end header
  // .banner-section start
  .banner-section {
    .button-cont {
      .button-2 {
        margin-left: 10px;
      }
    }
  }
  // // section-1 start
  .section-1 {
    .card {
      padding: 47px 20px 68px;
    }
  }
  // // section-4 start
  .section-4 {
    padding-top: 80px;
    .text-cont {
      padding-bottom: 40px;
      .h2-cont {
        margin: 20px auto 10px;
        width: 100%;
      }
    }
    .row-cont {
      padding-top: 20px;
      padding-bottom: 40px;
    }
    .col-cont {
      margin-bottom: 35px;
    }
  }
  // section-5 start
  .section-5 {
    padding: 50px 0 70px;
    .total-cont {
      padding-bottom: 40px;
      .image-cont {
        padding-bottom: 25px;
      }
      .heading-cont {
        width: 100%;
        margin: 20px auto;
      }
    }
    .pricing-box {
      padding: 20px 0px 40px;
      .h3-cont {
        margin: 12px 0 30px;
      }
      .cta-cont {
        margin: 25px 0 20px;
      }
    }
  }
  //  counter-section start
  .counter-section {
    padding: 20px 0 25px;
  }
  // .section-6 start
  .section-6 {
    padding: 60px 0 80px;
    .col {
      padding: 2px 20px 25px;
      .para-cont {
        margin: 40px 0 45px;
      }
      .last-cont {
        .icon-cont {
          img {
            width: 62px;
          }
        }
        .text-cont {
          padding-left: 5px;
        }
      }
    }
  }
  // section-8 start
  .section-8 {
    padding: 60px 0 30px;
  }
  // section-9 start
  .section-9 {
    padding: 40px 0 180px;
  }
  // section-10 start
  .section-10 {
    padding: 80px 0 60px;
  }
  // footer start
  footer {
    padding: 100px 0 20px;
    .top-cont {
      .right-col {
        ul {
          li {
            padding: 0 5px;
            a {
              font-size: 13px;
            }
          }
        }
      }
    }
    .bottom-cont {
      padding: 55px 0 10px;
      .image-cont {
        display: flex;
        float: right;
        justify-content: center;
        align-items: center;
        img {
          margin: 0 5px;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
  ::placeholder,
  textarea,
  input[type="text"],
  input[type="email"] {
    font-size: 14px;
  }
  button,
  input[type="submit"] {
    font-size: 12px;
    padding: 10px 15px;
  }
  #reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  #reverse2 {
    display: flex;
    flex-direction: column-reverse;
  }
  /* header start */
  header {
    padding: 10px 0;
    .header-section {
      display: inline;
      justify-items: center;
    }
    .left-col.span2 {
      display: inline;
      float: left;
      align-self: center;
    }
    .left-col {
      .image-cont {
        margin-top: 5px;
        img {
          width: 150px;
        }
      }
    }
    .right-col.span10 {
      display: inline;
      float: right;
      ul {
        button {
          margin-left: 0px;
          padding: 6px 9px;
        }
        li {
          display: none;
        }
      }
    }
  }
  // banner-section start
  .banner-section {
    padding: 70px 0 0;
    .button-cont {
      display: block;
      button {
        width: 100%;
      }
      .button-2 {
        margin: 20px 0;
      }
    }
    .right-col {
      margin: 30px 0;
      .image-cont {
        text-align: center;
        img {
          width: 85%;
        }
      }
    }
  }
  // section-1 start
  .section-1 {
    &::before{
      background: none;
    }
    padding-top: 70px;
    .total-cont {
      padding-bottom: 29px;
    }
    .col-1,
    .col-2,
    .col-3 {
      margin: 30px 0;
    }
    .card {
      padding: 30px 15px 40px;
      .heading-cont {
        margin: 40px 0 15px;
      }
    }
  }
  // typography
  .section-2,
  .section-3,
  .section-7 {
    padding: 40px 0 20px;
    .place-cont {
      text-align: center;
      img {
        width: 85%;
      }
    }
    .para-2 {
      margin: 30px 0;
    }
    .place-cont {
      margin: 20px 0;
    }
    .heading-cont {
      margin: 25px 0 10px;
    }
  }
  // section-4 start
  .section-4 {
    padding-top: 60px;
    .text-cont {
      padding-bottom: 30px;
      .h2-cont {
        max-width: 335px;
        margin: 16px auto 8px;
      }
    }
    .row-cont {
      padding: 20px 0;
    }
    .col-cont {
      margin-bottom: 35px;
      .image-cont {
        margin: 10px;
      }
    }
  }
  // section-5 start
  .section-5 {
    &::before{
      background: none;
    }
    padding: 30px 0 40px;
    .total-cont {
      padding-bottom: 30px;
      .image-cont {
        padding-bottom: 20px;
      }
      .heading-cont {
        margin: 15px auto;
      }
    }
    .pricing-box {
      margin: 20px 0;
      padding: 20px 0px 40px;
      .h3-cont {
        margin: 12px 0 30px;
        h3 {
          font-size: 50px;
        }
      }
      .details {
        ul {
          li {
            font-size: 18px;
          }
        }
      }
      .cta-cont {
        margin: 25px 0;
      }
    }
  }
  // .counter-section start
  .counter-section {
    padding: 25px 0;
    &::before{
      background: none;
    }
  }
  // .section-6 start
  .section-6 {
    padding: 40px 0 60px;
    &::before{
      background: none;
    }
    .heading-cont {
      width: 100%;
      margin-bottom: 70px;
    }
    .button-cont {
      .prev {
        top: -65px;
      }
      .next {
        top: -65px;
      }
    }
    .slider {
      ul {
        display: flex;
        margin-top: 10px;
        justify-content: center;
        li{
          margin: 0 5px;
        }
      }
    }
    .col {
      padding: 2px 15px 25px;
      margin: 20px 0;
      .para-cont {
        margin: 30px 0 35px;
      }
    }
  }
  // .section-7 start
  .section-7 {
    .para-cont {
      margin-bottom: 30px;
    }
    .button-cont {
      button {
        margin: 10px 0;
        width: 100%;
      }
    }
    .right-col {
      .image-cont {
        margin: 30px 0;
        text-align: center;
        img {
          width: 50%;
        }
      }
    }
  }
  // section-8 start
  .section-8 {
    padding: 40px 0 20px;
    &::before{
      background: none;
    }
    .total-cont {
      width: 100%;
      margin: 0 auto 20px;
      .h2-cont {
        padding-bottom: 2px;
        margin: 20px 0 8px;
      }
    }
    .client-logo {
      padding: 20px 0;
      ul {
        li {
          padding: 10px 20px;
          margin: 10px;
        }
      }
    }
  }
  // section-9 start
  .section-9 {
    padding: 40px 0;
    .heading-cont {
      margin: 53px 0 20px;
    }
    form {
      input[type="text"],
      input[type="email"],
      textarea {
        margin-bottom: 10px;
      }
      input[type="submit"] {
        margin: 30px 0;
      }
    }
    .image-cont {
      text-align: center;
      margin: 20px 0;
      img {
        width: 85%;
      }
    }
  }
  // section-10 start
  .section-10 {
    padding: 40px 0;
    &::before{
      background: none;
    }
    .total-cont {
      width: 100%;
    }
    form {
      .form-border {
        input[type="email"] {
          padding: 0 10px;
          min-height: 60px;
          padding-right: 45%;
        }
      }
      input[type="submit"] {
        top: 7px;
        right: 8px;
      }
    }
  }
  // footer
  footer {
    padding: 40px 0 10px;
    .top-cont {
      .left-col {
        .image-cont {
          margin: 10px 0 30px;
        }
        .para-cont {
          margin: 8px 0 16px;
        }
      }
      .right-col {
        ul {
          display: block;
          float: none;
          li {
            padding: 0px;
            margin: 5px 0;
          }
          .controler li {
            padding-right: 0;
          }
        }
      }
    }
    .bottom-cont {
      padding: 55px 0 10px;

      .para-cont {
        text-align: center;
        p {
          font-size: 13px;
        }
      }
      .image-cont {
        float: none;
        text-align: center;
      }
    }
  }
}
